* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  background: cornsilk;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: #4d4c4c;
}
.container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#snake {
  border: solid 1px red;
  width: 30%;
}

.direcionais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.direcionais i {
  margin: 5px;
  border: solid 1px red;
  padding: 18px;
}

.linha-1,
.linha-2 {
  height: 30px;
  padding: 20px;
}
@media screen and (max-width: 550px) {
  #snake {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  #snake {
    width: 40%;
  }
}
